
#container {
    padding-top: 50px;
    width: 100%;
    height: 100%;
}

body {
    color: #797979;
    background: #ffffff;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    color: rgba(102, 102, 102, 1);
    font-family: PingFangSC-Thin;
    /*padding-top: 30px; padding-bottom: 30px;*/
}

header {
    background-color: #222222;
    width: 100%;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    padding-top: 10px;
    color: #FFFFFF;
}

header .btn-return {
    position: absolute;
    left: 5px;
    top: 20px;
    border: 0px;
    background: url(../img/mobile-icon/return.png) no-repeat;
    -webkit-background-size: 13px auto;
    height: 20px;
}

.div-case {
    width: 30%;
    height: 30%;
    margin-top: 10px;
}

.div-case p {
    margin: 0 -5px 10px;
    line-height: 8px;
    color: rgba(255, 255, 255, 1);
}

.div-case img {
    width: 20px;
    height: 20px;
}

.div-case .img-div {
    width: 100%;
    height: 60px;
}

.div-case .p-div {
    width: 100%;
    height: 40px;
}

.div-case .icon-border {
    width: 22px;
    height: 24px;
    border-width: 1px;
    border-style: dashed;
    border-color: rgba(0, 0, 0, 0.36);
    border-radius: 0px;
    margin: 10px 0px;
    position: absolute;

}

.div-case-1 {
    background: rgba(139, 200, 218, 1);
    border-radius: 10px;
    margin-right: 13px;
}

.div-case-2 {
    background: rgba(163, 162, 228, 1);
    border-radius: 10px;
    margin-right: 13px;
}

.div-case-3 {
    background: rgba(154, 226, 162, 1);
    border-radius: 10px;
}

.div-case-4 {
    background: url(../img/h5-introduce.png) no-repeat;
    background-size: 100% auto; /*设置宽度100%，高度自动*/
    -webkit-background-size: 100% auto;
    margin: 10px 12px 0px 12px;
    height: 170px;
}

.div-case-4 p {
    line-height: 5px;
    margin: 15px 0px 10px;
}

.div-case-5 {
    background: rgba(251, 139, 137, 1);
    border-radius: 10px;
    margin-right: 13px;
}

.div-case-6 {
    background: rgba(255, 181, 123, 1);
    border-radius: 10px;
    margin-right: 13px;
}

.div-case-7 {
    background: rgba(100, 197, 232, 1);
    border-radius: 10px;
}

#introduce {
    color: #1a1a1a;
}

#introduce .icon-bar {
    background-color: #1a1a1a;
    width: 5px;
    position: unset;
    height: 26px;
    position: absolute;
    left: 5px;
}

#introduce p {
    line-height: 23px;
    text-indent: 25px;
}
#introduce p img{
    margin-left: -25px;
}
h3 {
    padding-left: 20px;
    margin-top: 5px;
}

p {
    color: rgba(102, 102, 102, 1);
    line-height: 15px;
    padding: 0px 13px;
}

p img {
    padding: 0px -5px;
    width: 97%;
    height: 230px;
    margin: 0px 0px;
}

#activity-index p {
    padding: 0px;
    color: #FFFFFF;
}

#sponsor-mark {
    border-bottom: 2px #bcc8d44d solid;
    margin-bottom: 10px;
    padding: 10px;
    height: 120px;
}

#sponsor-mark .img-div {
    float: left;
    border: 1px black solid;
}

#sponsor-mark .p-div {
    text-indent: 0px;
    font-size: 12px;
}

#sponsor-mark .p-div p {
    margin-bottom: 5px;
    padding: 0px 0px;
    line-height: 16px;
}

#sponsor-mark img {
    width: 80px;
    height: 80px;
}

#sponsor p img {
    height: 30%;
}

#sponsor .content p {
    line-height: 23px;
    text-indent: 25px;
}

#activity-apply {
    color: rgba(102, 102, 102, 1);
    padding: 0px 6px;
}

#activity-apply .div-case-4 p {
    color: #FFFFFF;
    margin: 15px -40px 0px;
    text-indent: 25px;
}

#activity-apply .lead {
    padding: 0px 0px;
    font-size: 13px;
    line-height: 23px;
    text-indent: 25px;
}

#activity-apply .col-xs-12 {
    border-bottom: 2px #bcc8d44d solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

#activity-apply .icon-div {
    padding-left: 0px;
    padding-right: 0px;
}

#activity-apply .icon-div img {
    width: 13px;
    height: 13px;
    margin-right: 10px;
}

#activity-footer .col-xs-9 {
    padding: 10px 5px;
}
#activity-footer .col-xs-3 {
    padding: 10px 5px;
}
#activity-footer input {
    border: 1px #66CC00 solid;
}
#activity-footer span {
    float: right;
    margin: -30px 5px 0px 0px;
    color: #6C0;
    font-size: 16px;
}

#activity-footer button {
    width: 90%;
    color: #FFFFFF;
    background-color: #66CC00;
    border: 1px #66CC00 solid;
}
#user-verify-footer .col-xs-6 {
    padding: 0px;
}
#user-verify-btn-return,#user-verify-btn-submit {
    width: 100%;
    background-color: #66CC00;
    color: #fff;
    border: 0px;
    border-radius: 0px;
    height: 40px;
}
#user-verify-btn-return {
    background-color: #fff;
    color: black;
}
#user-verify .div-case-1 {
    background: url(../img/user-verify-1.png) no-repeat;
    background-size: 100% auto; /*设置宽度100%，高度自动*/
    -webkit-background-size: 100% auto;
    height: 230px;
    border-radius: 0px;
}

#user-verify .div-case-2 {
    height: 140px;
    border: 0px;
    background-color: #FFFFFF;
}

#user-verify .icon-border {
    border: 1px rgba(106, 119, 122, 0.68) solid;
    width: 100px;
    height: 100px;
    margin: 20px auto;
}

#user-verify .div-case-2 img {
    width: 100px;
    height: 100px;
}

#user-verify .form-group .col-xs-2 {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 8px;
    font-weight: unset;
}

#user-verify .form-group .col-xs-10 {
    padding-left: 0px;
    padding-right: 0px;
    font-weight: unset;
}

#user-verify .form-group .col-xs-9 {
    padding-left: 0px;
    padding-right: 0px;
    font-weight: unset;
}

#user-verify .form-group .col-xs-10 .col-xs-3 {
    padding: 8px 3px;
}

#personal-mark {
    border-bottom: 2px #bcc8d44d solid;
    margin-bottom: 10px;
    padding: 10px 0px;

    height: 100px;
}

#personal-mark .img-div {
    float: left;
}

#personal-mark .p-div {
    text-indent: 0px;
    padding-top: 15px
}

#personal-mark .p-div p {
    line-height: 20px;
    font-size: 14px;
}

#personal-mark img {
    width: 80px;
    height: 80px;
}
#personal .qy{
    text-align: center;
}
#personal .qy img {
    width: 60%;
    height: 20%;
}
#succeed .qy{
    text-align: center;
    line-height: 20px;
}
#succeed .qy p{
    align-content: center;
    line-height: 40px;
    font-size: 16px;
}
#succeed .qy p img{
    width: 40%;
    height: 20%;
 }
#succeed .qy .img-div p img{
    border: 1px #29272799 dashed;
}
#succeed-footer img{
    width: 30px;
    height: 30px;
}
#activity-agenda{
    padding: 5% 3%;
}
#activity-agenda ul li{

}
.replyask-box {
    position: relative;
    overflow: hidden;
    font-size: 14px;
}
.replyask{
    height: 35px;;
}
.replyask-box .replyask-line {
    width: 1px;
    height: 100%;
    background: #d6e2eb;
    font-size: 0;
    line-height: 0;
    margin-left: 25px;
}
.replyask-box .replyask:first-child .replyask-line{
    width: 0px;
}
.replyask .ask-supply img{
    display: inline-block;
    background: #fff;
    position: relative;
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 18px;
}
.replyask .replyask-content {
    margin-left: 42px;
}